{% extends "base.html" %}

{% block content %}
    <h1>Добавление сотрудника</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname }}<br>
            {% for error in form.surname.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.patronomic.label }}<br>
            {{ form.patronomic }}<br>
            {% for error in form.patronomic.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.login.label }}<br>
            {{ form.login }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.companyId.label }}<br>
            {{ form.companyId }}<br>
            {% for error in form.companyId.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.roleId.label }}<br>
            {{ form.roleId }}<br>
            {% for error in form.roleId.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}